@import "normalize-scss/sass/normalize";
@import "bootstrap/scss/bootstrap-grid";

$white: #fff;
$light-blue: rgb(172, 205, 238);
$middle-blue: rgb(104, 188, 239);
$lighter-gray: rgb(168, 170, 174);
$darker-gray: rgb(109, 110, 113);

* {
	box-sizing: border-box;
}

.w-100 {
	width: 100%;
}

.cf {
	display: table;
	content: "";
	clear: both;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	background: #000;
	color: #fff;
}

a {
	color: $white;
	text-decoration: none;

	&:visited {
		color: $white;
	}
}

header {
	text-align: center;
}

nav {
	a {
		display: block;
		background: $lighter-gray;
		text-align: center;
		text-transform: capitalize;
		padding: 2% 0;
	}
}

.circle-cutout {
	width: 75%;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 50%;
	text-align: center;

	img {
		display: block;
		width: 100%;
	}
}

.hidden {
	display: none;
}

.cta {
	text-align: center;
	color: azure;
	background: $darker-gray;
	font-size: 2.4rem;
	padding: 10% 0;
}

.main-contact, footer {
	a {
		margin: 2% 0;

		~ a {
			margin: 0;
		}
	} 
}


.portfolio-item, 
.content-item, 
.team-member {
	margin-bottom: 5%;
}

.portfolio-toggle {
	font-size: 2em;
	text-transform: capitalize;
	background: none;
	cursor: pointer;
	padding: 1%;
	border: none;
	color: #fff;
	line-height: 1;
}

.portfolio-toggle:focus {
	outline: 2px dashed $lighter-gray;
}

.portfolio-toggle:after {
	font-size: 2rem;
}

.portfolio-toggle:after,
.copy-toggle:after {
	content: '\25BC';
	display: block;
	transition: transform 500ms ease-in-out;
}

.portfolio-toggle.active:after,
.copy-toggle.active:after {
	transform: rotateZ(180deg);
}

.copy-toggle:focus{
	outline: none;
	border: none;
}

.content-item {
	position: relative;

	.circle-cutout {
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 75%;
		position: absolute;
	}

	.top {
		margin-top: 50%;
		background: rgb(167,169,172);

		h3 {
			text-align: center;
			margin-top: 50%;
			margin-bottom: 0;
			font-size: 2em;
			padding: 50% 0 25%;
		}
	}

	p {
		margin: 0;
	}
}

.copy-toggle {
	cursor: pointer;
	display: block;
	width: 100%;
	border: none;
	background: $middle-blue;
	color: #fff;
}

.copy-toggle:after{
	font-size: 1.4rem;
}

section, footer {
	border-top: 5px dashed white;
    padding-top: 2%;
    margin-bottom: 5%;
}

section header,
footer header {
	text-align: center;
	position: relative;

	h2 {
		display: inline-block;
		padding: 1%;
		margin: 0;
		background: #000;
		text-transform: uppercase;
	}

	&:before{
		content: "";
		display: block;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		height: 20%;
		background: $light-blue;
		z-index: -1;
		position: absolute;
	}
}